
.bg-gray{
    background-color: #E7E7E7;
}

.bg-ingredients{
    background-color: #3282F7;
    color: white;
}
.bg-appareils{
    background-color: #68D9A4;
    color: white;
}
.bg-ustensils{
    background-color: #ED6454;
    color: white;
}

.text-control{
    border: 0;
    width: 100px;
    font-size: 1rem;
}

.text-control:focus{
    border: 0;
    outline: none;
}

.card-recipe{
    font-size: 0.7rem;
}

.img-recipe{
    height: 178px;
    background-color: #C7BEBE;
}

div.dropdown-multi{
    width: 527px;
}
 
.dropdown-col{
    display: inline-block;
    width: 175px;
}

.dropdown-col{
    color: white;
    font-size: 0.8em;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.dropdown-item{
    padding: 0;
}
